@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Julius+Sans+One&family=Laila:wght@300;400;500;600;700&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ysabeau+Infant:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Ysabeau:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px; }

body {
  height: 100vh;
  display: flex;
  background-color: black;
  background-image: url("../src/imgSite/siluetaNeg.png");
  background-repeat: no-repeat;
  background-position: center center; }

header {
  align-items: start;
  padding: 10px; }

.menu {
  height: 50px;
  width: 50px;
  border: 2px solid #5E647E;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease-in-out;
  cursor: pointer; }
  .menu:hover {
    background-color: #DFE3EF; }

.bar {
  height: 3px;
  width: 40px;
  background-color: #5E647E;
  border-radius: 2.5px;
  transition: 200ms ease-in-out; }

.menu.active .bar:nth-last-child(1) {
  transform: translateY(-11px) rotate(-45deg); }

.menu.active .bar:nth-last-child(2) {
  opacity: 0; }

.menu.active .bar:nth-last-child(3) {
  transform: translateY(11px) rotate(45deg); }

.silueta {
  padding: 1rem;
  z-index: -10000; }
