* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    height: 100vh;
    width: 100vw;
}

// body {
//     width: 100%;
//     height: 100%;    
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     background-color: $negro;
//     background-image: url("../src/imgSite/siluetaNeg.png");
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: contain;
// }

/*================== header ====================*/

// .header {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     align-items: center;
//     text-align: center;
//     img {
//         padding: 2rem;
//         width: 80%;
//     }
// }

/*================== Navbar ====================*/

// .base {
//     width: 55%;
//     height: 10%;
//     margin: 0 auto auto auto;
//     border-radius: 0 0 15px 15px;
//     background-color: $grayUno;
// }

// .menuNav {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     // justify-content: center;
// }

// .burguer {
//     display: flex;
//     align-items: center;
//     margin: 18px auto auto auto;
//     span {
//         color: $whine;
//         font-family: $secundaria;
//         font-size: $textLg
//     }
//     .titulo {
//         color: $grayUno;
//         font-family: $secundaria;
//         font-size: $textLg;
//     }
// }



// .menu {
//     height: 50px;
//     width: 50px;
//     // background-color: $grayUno;
//     // border: 2px solid $whine;
//     border-radius: 5px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 8px;
//     transition: 300ms ease-in-out;
//     cursor: pointer;
//     &:hover {
//         background-color: $grayUno;
//     }
// }

// .bar {
//     height: 3px;
//     width: 40px;
//     background-color: $gray;
//     border-radius: 2.5px;
//     transition: 200ms ease-in-out;
// }

// .menu.active {
//     .bar:nth-last-child(1){
//         transform: translateY(-11px) rotate(-45deg);
//         background-color: $whine;
//     }
//     .bar:nth-last-child(2){
//         opacity: 0;
//     }
//     .bar:nth-last-child(3){
//         transform: translateY(11px) rotate(45deg);
//         background-color: $whine;
//     }
// }


/* menú desplegable */

// .subMenuWrap {
//     position: absolute;
//     top: 100%;
//     right: 10%;
//     width: 320px;
// }

// .subMenu {
//     // display: flex;
//     // align-items: center;
//     background: $grayUno;
//     padding: 20px;
//     margin: 10px;
// }


// .navLink {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//     .ball {
//         list-style: none;
//         color: $gray;
//         text-decoration: none;
//         font-family: $principalLuuvyInti;
//         font-size: $textLg;
//     }
// }

// .link {
//     list-style: none;
//     a {
//         text-decoration: none;
//         color: $gray;
//         font-family: $principalLuuvyInti;
//         font-size: $textLg;
//         &:hover {
//             cursor: pointer;
//             color: $approp;
//         }
//     }
// }

/*================== Main ====================*/

// .main {
//     display: grid;
//     place-content: center;
//     font-family: $pincipalSensUrm;
//     padding: 2rem;
//     margin-bottom: 60px;
//     p {
//         text-align: center;
//     }
// }

// .text {
//     margin-bottom: 100px;
//     color: $whine;
// }
// .text2 {
//     color: $graylight;
// }

// .sunshine {
//     font-size: 1.6em;
//     letter-spacing: 2.3px;
//     overflow: hidden;
//     background: linear-gradient(90deg, #000, #fff, #000);
//     background-repeat: no-repeat;
//     background-size: 80%;
//     animation: animate 6s linear infinite;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: rgba(255, 255, 255, 0);
// }

// @keyframes animate {
//     0% {
//         background-position: -500%;
//     }

//     100% {
//         background-position: 500%;
//     }
// }

/*================== footer ====================*/

// footer {
//     width: 100%;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     height: 80px;
// }

// .contacto {
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     align-items: center;
//     background-color: $grayUno;
// }

// .list {
//     display: flex; 
//     flex-direction: row;
//     margin-top: 12px;
//     padding: 0;

//     justify-content: space-evenly;
//     list-style: none;
// }

// .icon {
//     font-size: 1.8em; 
//     color: $gray;
//     cursor: pointer;
//     transition: .5s;
//     &:hover {
//         color: $whine;
//     }
// }