@include breakpoint (md) {
    body {
        margin: 0;
    }

    .l-main{
        height: 100vh;
    }

    .nav {
        height: $header-height + 1rem;
        &__list {
            display: flex;
            padding-top: 0;
        }
        &__item {
            margin-left: 3rem;
            margin-bottom: 0;
        }
        &__toggle, &__close{
            display: none;
        }
        &__link {
            text-transform: initial;
        }
    }

    .home {
        grid-template-rows: max-content 20px;
        align-content: center;
        
        &__information {
            margin-top: 2rem;
        }

        &__social {
            flex-direction: row;
            padding-top: 9rem;
            margin-top: 9rem;
            padding-bottom: 0;
            margin-bottom: 0;
            z-index: $z-normal;
            justify-content: space-between;
            
            &-icon{
                margin-right: 2rem;
                margin-bottom: 0;
            }
        }

        &__img{
            width: 553px;
            height: 70vh;
            right: -20%;
        }

    }
}

@include breakpoint (xl) {
    body {
        height: 100vh;
    }

    .home{
        &__social {
            padding-top: 4rem;
            padding-bottom: 0;
        
        }

        &__img{
            width: 553px;
            height: 70vh;
            right: 5%;
        }
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}