//base

*,::before,::after {
    box-sizing: border-box;
}

body {
    margin: $header-height 0 0 0;
    font-family: $pincipalSensUrm;
    background-color: $negro;
    color: $graylight;
    font-weight: $font-bold;
    overflow: hidden;
}

h1,h2 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

// layout

.bd-grid {
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $negro;
}

/*----- PAGES -----*/

//nav

.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-bold;

    &__menu {
        @media screen and (max-width: 767px) {
            position: fixed;
            top: -100%;
            left: 0;
            background-image: linear-gradient($negro, $whine, $negro);
            width: 100%;
            height: 35%;
            padding: 1.5rem;
            border-radius: 0 0 1rem 1rem;
            transition: .7s;

        }
    }
    &__list {
        text-align: center;
    }
    &__item{
        margin-bottom: 1.5rem;
    }
    &__link{
        color: $graywhite;

        &:hover{
            position: relative;

            &::after{
                position: absolute;
                content: '';
                width: 1.5rem;
                height: .1875rem;
                left: .125rem;
                top: 2.125rem;
                background-color: $whine;
            }
        }
    }
    &__logo{
        font-size: $text;
        color: $graywhite;
    }
    &__toggle{
        font-size: $text;
        cursor: pointer;
    }
}

// aparecer menu

.show {
    top: $header-height;
}

//home

.l-main{
    height: calc(100vh - #{$header-height});
    background-color: $negro;
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    align-content: space-around;
    row-gap: 2.3rem;
    height: 100%;
    font-weight: $font-bold;

    &__information{
        padding-left: 1.5rem;
        border-left: 5px solid $graywhite;
        z-index: $z-tooltip;
    }

    &__pressent{
        font-size: $textSm;
    }

    &__title {
        font-size: $h1FontSize;
        color: $whine;
    }

    &__skill{
        font-size: $text;

    }


    &__button{
        display: inline-block;
        margin-top: 1.5rem;
        font-size: 1.5rem;
        padding: .625rem 1rem;
        border-radius: .25rem;
        background-image: linear-gradient(to right, $negro, $whine, transparent);
    }

    &__img{
        position: absolute;
        right: 5px;
        bottom: 10vw;
        width: 90vw;
        z-index: $z-normal;
    }

    &__social{
        display:flex;
        flex-direction: column;
        padding-bottom: 1rem;
        z-index: $z-tooltip;

        &-icon{
            margin-bottom: 2rem;
            font-size: 1.33rem;
            color: $graywhite;
            cursor: pointer;
            transition: .5s all;

            &:hover {
                color: $whine;
            }
        }
    }

}

//ANIMATE

// overlay

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-modal;
}

.first {
    background-color: $whine;
}

.second {
    background-color: $whine;
    left: 33.3%;
}

.third {
    background-color: $whine;
    left: 66.6%;
}
